.countdownContainer {
    display: flex;
    align-items: center;
    font-family: Rajdhani;
    font-weight: 600;
    color: var(--title);
}

.countdownContainer>div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: var(--white);
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    font-size: 8.5rem;
    text-align: center;
}

.countdownContainer>div span {
    flex: 1;
}

.countdownContainer>div span:first-child {
    border-right: 1px solid #f0f1f3;
}

/* mudei de :last-child para :nth-child(2)*/

.countdownContainer>div span::nth-child(2) {
    border-left: 1px solid #f0f1f3;
}

.countdownContainer>span {
    font-size: 6.25rem;
    margin: 0 0.5rem;
}

.countdownButton {
    width: 100%;
    height: 5rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 5px;
    background: var(--blue);
    color: var(--white);
    font-family: "Inter";
    font-size: 1.25rem;
    font-weight: 600;
    transition: background-color 0.2s;
    /* copiado por myguel */
    outline: 1px solid transparent;
    /* ate aqui */
}

.countdownButton:not(:disabled):hover {
    background: var(--blue-dark);
}

.countdownButtonActive {
    background: var(--white);
    /* mudei de white para text */
    /* Feito por myguel */
    color: var(--text);
    position: relative;
    /* até aqui */
}

/* PARTE COPIADA MOVE.IT-MAIN */

.progressTimer {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background: var(--green);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 0;
}

/* FIM DA CÓPIA */

.countdownButtonActive:not(:disabled):hover {
    background: var(--red);
    color: var(--white);
}

/* PARTE COPIADA MOVE.IT-MAIN */

.countdownButtonActive:not(:disabled):hover svg path {
    fill: #fff;
}

/* FIM DA CÓPIA */

.countdownButton:disabled {
    background: var(--white);
    color: var(--text);
    cursor: not-allowed;
    /* Feito por myguel*/
    border-bottom: 6px solid var(--green);
    /* 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem; 
    */
    /* ate aqui */
}

/* PARTE COPIADA MOVE.IT-MAIN */

@media (max-width: 768px) {
    .countdownContainer>div {
        font-size: 6.5rem;
    }
}

/* FIM DA CÓPIA */

/* FEITO POR MYGUEL */

.countdownButton img {
    margin-left: 1rem;
    font-size: 0px;
}

/* mostrando o close white do abandonar ciclo*/

.countdownButtonActive:hover img:nth-child(2) {
    display: flex;
}

/* escondendo o close white do abandonar ciclo*/

.countdownButtonActive img:nth-child(2) {
    display: none;
}

/* escondendo o close black do abandonar ciclo*/

.countdownButtonActive:hover img:first-child {
    display: none;
}

/* ATÉ AQUI */